[submodule "lib/Simple-INI-Parser"]
	path = lib/Simple-INI-Parser
	url = https://github.com/HamletDuFromage/Simple-INI-Parser
[submodule "lib/borealis"]
	path = lib/borealis
	url = https://github.com/HamletDuFromage/borealis
